.pre-point {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    display: block;
    margin-right: 5px;
}

.text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}